.container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;

	overflow: hidden;
}

.container .image-container {
	display: block;
	overflow: hidden;
}

.container .image-container .image {
	width: 100%;
	max-height: 300px;
}

.container .image-container .description {
	position: absolute;
	top: 55%;
	left: 53%;
	text-shadow: 2px 3px 2px black;
	color: #f7f6e7;
}

.prev, .next {
	position: absolute;
	/*top: 50%;*/
	/*transform: translateY(-50%);*/
	width: auto;
	padding: 16px;
	/*margin-top: 22px;*/
	color: #bbb;
	font-weight: bold;
	font-size: 30px;
	border-radius: 0px 3px 3px 0px;
	cursor: pointer;
	user-select: none;
}

.next {
	right: 5%;
	/*border-radius: 3px 0px 0px 3px;*/
}

.prev {
	left: 50%;
}

.prev:hover, .next:hover {
	/*background-color: black;*/
	color: #f2a154;
}

.dot-container {
	display: flex;
	position: absolute;
	top: 65%;
	/*text-align: center;*/
}

.dot {
	/*position: inherit;*/
	margin: 0px 10px;
	top: -40px;
	height: 8px;
	width: 36px;
	background-color: #bbb;
	border-radius: 0px;
	display: inline-block;
	cursor: pointer;
	z-index: 1;
	transition: all .5s;
}

.active, .dot:hover {
	background-color: #f2a154;
}

.content {
	/*color: white;*/
	grid-column: 2/3;
	grid-row: 2/3;
	text-align: justify;
	padding: 12px 60px;
	letter-spacing: 1px;
}

.fade {
	animation: fade .3s ease-in-out;
}

@keyframes fade {
	0% {
		opacity: 0;
		transform: scale(1);
	}
	50% {
		opacity: 0.5;
		transform: scale(1.0);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@media(min-width: 600px) and (max-width: 900px) {
	.landing-page .container .image-container .description {
		font-size: 18px;
		top: 52%;
		width: 30%;
	}

	.landing-page .container .dot-container {
		display: none;
	}

}

@media(min-width: 300px) and (max-width: 599px) {
	.landing-page .container {
		display: none;
	}

	.landing-page {
		display: grid;
		grid-template-columns: 1fr;
	}

}