* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Truculenta', sans-serif;
}

.navbar {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: #f2a154;
	height: 80px;
	text-shadow: 2px 2px 2px #314e52;
}

.navbar .logo .navbar-brand {
	text-decoration: none;
	color: #f7f6e7;
}

.navbar .logo .navbar-brand h2 {
	font-size: 30px;
	letter-spacing: 4px;
}

.navbar .logo .navbar-brand p {
	font-size: 15px;
}

.navbar .navbar-collapse .navbar-nav {
	display: flex;
}

.navbar .navbar-collapse .navbar-nav .nav-item {
	padding: 10px;
	font-size: 18px;
	list-style-type: none;
}

.navbar .navbar-collapse .navbar-nav .nav-item .nav-link, .loginButton {
	padding: 10px;
	text-decoration: none;
	color: #f7f6e7;
	position: relative;

	--background-color: #f7f6e7;
	--border-size: 2px;
	--accent-color: #f7f6e7;
}

.landing-page {
	background: #e7e6e1;
	height: 450px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 5%;
	/*text-shadow: 3px 2px 2px #05445E;*/
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.header {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	color: #D4F1F4;
}

.header .info {
	color: #314e52;
	text-decoration: none;
	margin: 10px 10px 10px 50px;
}

.header h1 {
	font-size: 33px;

}

.header .lead {
 	font-size: 21px;
}

.header .btn {
	width: 40%;
	border: 2px solid;
	/*border-radius: 25px;*/
	padding: 5px;
	font-size: 24px;
	text-align: center;
	position: relative;

/* css variables */
	--background-color: #e3e3e3;
	--border-size: 2px;
	--accent-color: #314e52;
}

.footer {
	background: #f2a154;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	text-shadow: 3px 2px 2px #314e52;
	color: #f7f6e7;
}

.footer p {
	padding: 0px 10px;
}


/* STYLES FOR COURSE */
.course-container {
	width: 100%;
	min-height: 300px;
	height: 100%;
}

.course-container .row {
	display: flex;
	justify-content: center;
	/*align-items: center;*/
	padding: 50px;
}

.course-container .row div section h2 {
	font-size: 32px;
}

.course-container .row div section p {
	font-size: 24px;
}
