* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Truculenta', sans-serif;
}

body {
	overflow-x: hidden;
}

.navbar {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: #f2a154;
	height: 80px;
	text-shadow: 2px 2px 2px #314e52;
}

.navbar .logo .navbar-brand {
	text-decoration: none;
	color: #f7f6e7;
}

.navbar .logo .navbar-brand h2 {
	font-size: 30px;
	letter-spacing: 4px;
}

.navbar .logo .navbar-brand p {
	font-size: 15px;
}

.navbar .navbar-collapse .navbar-nav {
	display: flex;
}

.navbar .navbar-collapse .navbar-nav .nav-item {
	padding: 10px;
	font-size: 18px;
	list-style-type: none;
}

.navbar .navbar-collapse .navbar-nav .nav-item .nav-link, .loginButton, .regButton, .profileButton {
	padding: 10px;
	text-decoration: none;
	color: #f7f6e7;
	position: relative;
	cursor: pointer;

	--background-color: #f7f6e7;
	--border-size: 2px;
	--accent-color: #f7f6e7;
}

.landing-page {
	background: #e7e6e1;
	height: 450px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 5%;
	/*text-shadow: 3px 2px 2px #05445E;*/
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.header {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	color: #D4F1F4;
}

.header .info {
	color: #314e52;
	text-decoration: none;
	margin: 10px 10px 10px 50px;
}

.header h1 {
	font-size: 33px;

}

.header .lead {
 	font-size: 21px;
}

.header .btn {
	width: 40%;
	border: 2px solid;
	/*border-radius: 25px;*/
	padding: 5px;
	font-size: 24px;
	text-align: center;
	position: relative;

/* css variables */
	--background-color: #e3e3e3;
	--border-size: 2px;
	--accent-color: #314e52;
}

.footer {
	background: #f2a154;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	text-shadow: 3px 2px 2px #314e52;
	color: #f7f6e7;
}

.footer p {
	padding: 0px 10px;
}

.home-content {
	height: 100%;
	object-fit: contain;
}

.home-content .steps {
	margin: 20px;
	padding: 20px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: minmax(auto, 350px);
	/*border: 1px solid;*/
	grid-gap: 20px;
}

.odd {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 50px;
}

.even {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 50px;
}

.even .description {
	display: flex;
	justify-content: flex-end;
}

.odd img {
	width: 100%;
	height: 300px;
	object-fit: cover;
}

.even img {
	width: 100%;
	height: 300px;
	object-fit: cover;
}

#one {
	grid-column: 1/2;
	grid-row: 1/2;
}

#two {
	grid-column: 2/3;
	grid-row: 2/3;
}

#three {
	grid-column: 1/2;
	grid-row: 3/4;
}

#four {
	grid-column: 2/3;
	grid-row: 4/5;
}

#five {
	grid-column: 1/2;
	grid-row: 5/6;
}

@media(max-width: 600px) {
	.home-content .steps {
		display: block;
		/*grid-template-columns: 1fr;*/
	}
}